body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #a9a9a9; /* Более темный светло-серый фон */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.display {
    background-color: #888;
    color: #fff;
    font-size: 2em;
    text-align: right;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.display-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.red {
    background-color: #ff5f57;
}

.orange {
    background-color: #febc2e;
}

.green {
    background-color: #28c840;
}

.display-value {
    font-size: 1.5em;
    text-align: right;
    color: #fff;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    flex: 1 0 25%;
    padding: 20px;
    font-size: 1.5em;
    border: 1px solid #888;
    background-color: #a9a9a9; /* Более темный светло-серый фон */
    cursor: pointer;
    outline: none;
    color: #333;
}

.btn.operator {
    background-color: #f39c12;
    color: #fff;
}

.btn.zero {
    flex: 1 0 50%;
}

.btn:hover {
    background-color: #909090;
}

.btn.operator:hover {
    background-color: #e67e22;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#clear, #sign, #percent, .operator {
    grid-column: span 1;
}

.number {
    grid-column: span 1;
}

.zero {
    grid-column: span 2;
}

#decimal, #equals {
    grid-column: span 1;
}
